html {
    scroll-behavior: smooth;
}

#banner {
    background-image: url(/assets/img/background3.jpg);
}

#hakkimizda {
    background-image: url(/assets/img/background1.png);
}

#basarimlar {
    background-image: url(/assets/img/background4.jpg);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
}
  