html {
    scroll-behavior: smooth;
}

#banner {
    background-image: url(https://raw.githubusercontent.com/roaccat/personelwebsite/main/assets/img/background3.jpg);
}

#hakkimizda {
    background-image: url(https://raw.githubusercontent.com/roaccat/personelwebsite/main/assets/img/background1.png);
}

#basarimlar {
    background-image: url(https://raw.githubusercontent.com/roaccat/personelwebsite/main/assets/img/background4.jpg);
}
